<ion-header>
  <ion-toolbar>
    <ion-title>editar-vacinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Vacina:</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="model.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data:</ion-label>
      <ion-input type="text" name="data" [(ngModel)]="model.data"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Revacinar:</ion-label>
      <ion-input type="text" name="revacinar" [(ngModel)]="model.revacinar"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="save()">Salvar</ion-button>
  <ion-button (click)="cancel()">Cancelar</ion-button>
</ion-content>
