<ion-header>
  <ion-toolbar>
    <div class="div-header-img">
      <ion-img  class="logo" src="assets/imgs/infoppet.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Tipo:</ion-label>
      <ion-select placeholder="Selecione" [(ngModel)]="model.tipo">
        <ion-select-option value="Vacina">Vacina</ion-select-option>
        <ion-select-option value="Medicação">Medicação</ion-select-option>
      </ion-select>
    </ion-item>  
    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="model.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data:</ion-label>
      <ion-input type="date" name="data" [(ngModel)]="model.data"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Próxima:</ion-label>
      <ion-input type="date" name="proxima" [(ngModel)]="model.proxima"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row class="info-row-btn">
    <button class="info-btn" (click)="save()">Salvar</button>
    <button class="info-btn" (click)="cancel()">Cancelar</button>
  </ion-row>
</ion-content>
