<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>medicacoes</ion-title>
      <ion-button (click)="changePage('')">Voltar</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of medicacoes">
      <ion-card-header>
        <h1>Medicação: {{ item.medicacao.nomeMedicacao }}</h1>
      </ion-card-header>
      <ion-card-content>
        <p>Data: {{ item.medicacao.dataMedicacao }}</p>
      </ion-card-content>
      <ion-card-content>
        <p>Próxima: {{ item.medicacao.proximaMedicacao }}</p>
      </ion-card-content>
      <ion-row>
          <ion-button (click)="editarMedicacao(item)">Editar</ion-button>
          <ion-button (click)="removerMedicacao(item)">Excluir</ion-button>
      </ion-row>
    </ion-card>
  </ion-list>
  <ion-row>
    <ion-button (click)="addMedicacao()">Adicionar</ion-button>
  </ion-row>
</ion-content>
