<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>vacinas</ion-title>
      <ion-button (click)="changePage('')">Voltar</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of vacinas">
      <ion-card-content>
        <h2>Tipo: {{ item.vacina.escolha }}</h2>
      </ion-card-content>
      <ion-card-content>
        <h1>Nome: {{ item.vacina.nome }}</h1>
      </ion-card-content>
      <ion-card-content>
        <h2>Data: {{ item.vacina.data | date: 'dd-MM-yyyy'}}</h2>
      </ion-card-content>
      <ion-card-content>
        <h2>Próxima: {{ item.vacina.revacinar | date: 'dd-MM-yyyy' }}</h2>
      </ion-card-content>
      <ion-row>
          <ion-button (click)="editarVacina(item)">Editar</ion-button>
          <ion-button (click)="removerVacina(item)">Excluir</ion-button>
      </ion-row>
    </ion-card>
  </ion-list>
  <ion-row>
    <ion-button (click)="addVacina()">Adicionar</ion-button>
  </ion-row>
</ion-content>
